include README.md
include CHANGES.rst
include LICENSE

# Documentation
graft artwork
graft docs
prune docs/_build

# Examples
graft examples

# Tests
graft tests

# Patterns to exclude from any directory
global-exclude *.pyc
global-exclude *.pyo
