include Makefile
include make.bat
include CHANGELOG.rst
include CONTRIBUTING.md
include LICENSE
include requirements.txt
include runtime.txt
include README.md

# Documentation
graft assets
graft docs
graft notebooks
prune docs/_build

# Tests
graft tests

# Patterns to exclude from any directory
global-exclude *.pyc
global-exclude *.pyo
